@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');  /* should i use the link tag in html instead? what is the difference?*/

/*general*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}


body{
    font-family: 'Raleway', sans-serif;
    color: #222222;
    background-color: #F7F7F9;
    margin-left: 6px;
    margin-right: 6px;
}

.inline-block{
    display: inline-block;
}

.page-divider {
    border-top: 2px solid #D2302C;
    margin: 6px 18px;
}

h3{
margin: 12px 0 18px;
}

h3 span{
    border-bottom: 2px solid #D2302C;
}

/*Nav bar*/

.navbar-brand{
   font-size: 300%;
   font-weight: bolder;
   border: 6px solid #202020;
   padding: 10px;
}

.navbar-brand, h2, h3{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #202020;
}

.navbar-brand span{
    color: #D2302C;
}

/*Added as bootstrap was changing colour when hovering.*/
.navbar-brand:hover{
    color: #202020;
} 

.navbar-brand, .navbar-nav{
    line-height: 48px;
    letter-spacing: 3px;
    /*margin-bottom: 16px;*/
}

.navbar-nav a{
    text-decoration: none;
    color: inherit;
    font-size: 120%;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0px 4px;
    padding: 0;
    display: inline-block;
    line-height: 48px;
}

.navbar-nav a:hover{
     border-bottom: 2px solid #D2302C;
}

.navbar-nav .active>.nav-link{
    border-bottom: 2px solid #D2302C;
}

/* cover image*/

.image-container{
    height: 600px;
    background: url(../assets/images/mass_ctrlr.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*main page content*/

.content-container{
    font-family: inherit;
    color: inherit;
    margin-left: 6px;
    font-weight: bold;
    text-align: justify;
}

.content-container a{
    color: #D2302C;
    text-decoration: underline;
}
.band-member-list{
    text-align: center;
}

.band-member-list th{
    color: #D2302C;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0;
}

.band-member-list td{
    color:#202020;
    font-weight: bolder;
    text-transform: uppercase;

}

/*music page*/

.music-container, .live-container{
    font-family: inherit;
    color: inherit;
    margin-left: 6px;
    font-weight: bold;
    text-align: justify;
}

.music-container a{
    color: #D2302C;
    text-decoration: underline;
    padding: 0;
}

.video-container{
    text-align: center;
}

.video{
    display: inline;
}

/*gallery page*/

#gallery{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    background-color: black;
}

#gallery img{
    width: 100%;
}

/*Contact page*/

.contact-heading{
    margin-top: 24px;
    margin-bottom: 24px;
}

.contact-subheading{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #202020;
    margin-top: 24px;
    margin-bottom: 24px
}

.contact-subheading span{
    border-bottom: 2px solid #D2302C;
}

.center-form{
    padding-top: 12px;
    margin: 0 auto;
    max-width: 70%;
}

.form-control{
    border: 1px solid #D2302C;
    margin: 6px;
}

.btn-danger{
    color: #F7F7F9;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #D2302C;
    border: 2px solid #D2302C;
    margin-top: 24px;
    margin-bottom: 24px;
}

.btn-danger:hover{
    color: #D2302C;
    background-color:#F7F7F9;
    border: 2px solid #D2302C;
}

/*footer*/

.footer-container{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0px;
}

.footer-container a{
    color: #222222;
    margin-left: 12px;
    margin-bottom: 6px;
    display: inline;
}

.footer-container p{
    margin: 6px 6px;
}

.footer-container div{
text-align: center;
font-size: 18px;
}

.footer-container a:hover{
    color: #D2302C;
}

/*media queries nav bar and main page*/

@media (max-width: 480px) {
    .image-container{
    height: 200px;
    background: url(/assets/images/mass_ctrlr_small.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    }
    .navbar-brand{
        font-size: 180%;
    }
    .navbar-nav a{
        font-size: 80%;
    }
    table{
        display: none;
    }
}

@media (min-width:480px) {
    .media-page-links, .media-page-links li{
    display: inline;
}
}

/*media queries for music page*/


/*media queries for gallery page*/

@media screen and (max-width:992px){
    #gallery{
        column-count: 3;
    }
}

@media screen and (max-width:800px){
    #gallery{
        column-count: 2;
    }
}

/*media queries for contact page*/
@media (min-width:992px) {
.center-form{
    padding-top: 36px;
    min-height: 360px;
    margin: 0 auto;
    max-width: 50%;
}
}