@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');


/*general*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}


body{
    font-family: 'Raleway', sans-serif;
    color: #222222;
}

/*Nav bar*/

.navbar-brand{
   font-size: 300%;
   font-weight: bolder;
   padding: 0;
}

.navbar-brand, h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #202020;
}
/*Added as bootstrap was changing colour when hovering.*/
.navbar-brand:hover{
    color: #202020;
}

.navbar-brand span{
    color:#eb0c0c;
}

.navbar-brand, .navbar-nav{
    line-height: 48px;
    letter-spacing: 3px;
    margin-bottom: 16px;
}

.navbar-nav a{
    text-decoration: none;
    color: inherit;
    font-size: 120%;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0;
    margin: 0px 4px;
    display: inline-block;
    line-height: 20px;
}

.navbar-nav a:hover{
     border-bottom: 2px solid #eb0c0c;
}

/*
- nav bar -

#navigation{
font-size: 120%;
list-style-type: none;
letter-spacing: 3px;
float: right
}

#band-name, #navigation{
    line-height: 80px;
}

#navigation li{
    float: left;
    margin-right: 25px;
}

#navigation a{
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    text-transform: uppercase;
}

*/
/* cover image*/

#hero-image{
    height: 600px;
    background: url(/assets/images/mass_ctrlr.jpg) no-repeat center center;
    background-size: cover;
    
}

#image-container{
    height: 600px;
    width: 100%;
    overflow: hidden;
}